@import "./../../../styles/mixins/focusBorder.scss";
@import "./../../../styles/mixins/shadows.scss";

@mixin dropdown__options__slider--open {
  @include laptop {
    .dropdown__title .dropdown__option {
      color: var(--text-contrast);
    }
  }

  .dropdown__options {
    visibility: visible;
    transition-delay: 0ms;
    max-height: calc(var(--optionCount) * (var(--padding-1) * 2 + 1em));

    .dropdown__options__slider {
      transform: translateY(0%);
      opacity: 1;
    }
  }
}

.dropdown {
  background: var(--background-primary);
  font-size: var(--text-size-8);
  position: relative;
  text-align: center;
  display: block;

  .dropdown__title {
    font-weight: var(--bold);
    justify-content: center;
    overflow: hidden;
    display: flex;
    width: 100%;
    height: 100%;

    .dropdown__option {
      align-self: center;
    }

    .dropdown__toggle {
      cursor: pointer;
      user-select: none;
      transition: all var(--delay-6) ease;

      span {
        font-size: 1.3em;
      }
    }
  }

  .dropdown__options {
    position: absolute;
    visibility: hidden;
    font-size: 0.85em;
    overflow: hidden;
    display: block;
    width: 100%;
    top: 100%;
    left: 0;
    max-height: 0;

    background-color: var(--background-primary);
    transition: max-height ease var(--delay-6),
      visibility 0s ease var(--delay-6);

    .dropdown__options__slider {
      opacity: 0;
      transform: translateY(-100%);
      transition: opacity var(--delay-6) ease, transform var(--delay-6) ease;

      .dropdown__listoption .dropdown__option {
        padding: var(--padding-1);
      }

      .dropdown__option {
        display: block;
        line-height: 1em;

        &.dropdown__option--interactable {
          cursor: pointer;
        }
      }
    }
  }

  .dropdown__options--pushContent {
    position: relative;
  }

  &.dropdown--toggled {
    .dropdown__title .dropdown__toggle {
      transform: rotate(180deg);
    }

    @include dropdown__options__slider--open;
  }

  .dropdown__option {
    @include focus;
  }
}

.dropdown.dropdown--hoverable {
  &:hover,
  &:focus,
  &:focus-within {
    @include dropdown__options__slider--open;
  }
}

@include laptop {
  .dropdown {
    .dropdown__title,
    .dropdown__options {
      width: fit-content;
      text-align: left;
    }

    .dropdown__options {
      min-width: 115%;
      @include shadow;
    }

    .dropdown__options .dropdown__options__slider {
      border-left: 0.15em solid var(--contrast);
    }

    .dropdown__listoption {
      display: block;
      width: 100%;
    }

    .dropdown__option {
      display: flex;
      width: 100%;
      height: 100%;
      align-items: center;
      color: var(--text-primary);
      transition: background-color var(--delay-2) ease,
        color var(--delay-2) ease;
      white-space: nowrap;

      &:hover,
      &:focus,
      &:focus-within {
        color: var(--text-contrast);
        background-color: var(--contrast);
      }
    }
  }
}
