---
---

<button id="topArrow" class="topArrow" aria-label="Scroll to top" tabindex={0}>
  <div aria-hidden="true" class="topArrow__container"></div>
</button>

<script>
  const topArrow = document.getElementById("topArrow");

  if (topArrow) {
    topArrow.addEventListener("click", () =>
      "scrollBehavior" in document.documentElement
        ? window.scrollTo({ top: 0, left: 0, behavior: "smooth" })
        : window.scrollTo(0, 0),
    );

    window.addEventListener("scroll", () =>
      topArrow.toggleAttribute("visible", window.scrollY > 50),
    );
  }
</script>

<style lang="scss">
  @import "../../styles/mixins/shadows.scss";

  .topArrow {
    display: block;
    position: fixed;
    font-size: 20px;
    bottom: 1em;
    right: 1em;
    width: 2.1em;
    height: 2.1em;
    border-radius: 50%;
    background-color: var(--background-partial-shadow);
    cursor: pointer;
    transition: all ease var(--delay-4);
    visibility: hidden;
    opacity: 0;
    z-index: calc(var(--navigation) + 1);

    .topArrow__container {
      display: block;
      width: 100%;
      height: 100%;
      transition: all ease var(--delay-4);

      &::after,
      &::before {
        content: "";
        position: absolute;
        display: block;
        width: 0.8em;
        height: 0.26em;
        border-radius: 0.2em;
        top: 50%;
        left: 50%;
        background-color: var(--background-primary);
      }

      &::before {
        transform: translate(-75%, -50%) rotate(-45deg);
      }

      &::after {
        transform: translate(-25%, -50%) rotate(45deg);
      }
    }

    &:hover,
    &:focus,
    &:focus-within {
      @include shadow--partial;
      background-color: var(--background-opposite);

      .topArrow__container {
        transform: translateY(-12%);
      }
    }
  }

  .topArrow[visible] {
    visibility: visible;
    opacity: 1;
  }
</style>
