@import "../../../styles/mixins/shadows.scss";
@import "../../../styles/mixins/focusBorder.scss";

.course__wrapper {
  display: flex;
  margin: 0 auto;
  width: 90%;
  flex-wrap: wrap;
  padding-top: 1em;
  gap: 2em;
}

.course {
  width: 80vw;
  height: fit-content;
  max-width: 300px;
  margin: 0 auto;
  position: relative;
  flex-shrink: 0;
  background-color: var(--background-primary);
  font-size: var(--text-size-7);
}

.course[style*="max-height"] {
  .course__card {
    overflow-y: hidden;
    max-height: inherit;
    background-color: inherit;
    z-index: var(--focusElement);
    transition: max-height ease var(--delay-4);

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 4em;
      bottom: 0;
      left: 0;
      opacity: 1;
      visibility: visible;
      pointer-events: none;
      background-image: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0),
        var(--background-primary) 90%
      );
      transition: all ease var(--delay-4);
    }

    &:hover,
    &:focus,
    &:focus-within {
      max-height: 80vh;
      animation: hide-scroll var(--delay-8) forwards;

      &::after {
        opacity: 0;
        visibility: hidden;
      }
    }
  }
}

@keyframes hide-scroll {
  0%,
  99% {
    overflow-y: none;
  }
  100% {
    overflow-y: auto;
  }
}

.course__figure {
  height: calc(100% + 10px);
  display: block;
  overflow: hidden;
  position: relative;
  aspect-ratio: var(--aspect-ratio);
}

.course__container {
  position: relative;
  padding: var(--padding-6);
  padding-bottom: 0;

  &:last-of-type {
    padding-bottom: var(--padding-6);
  }
}

.course__container--rounded {
  --size: 10px;
  padding-top: calc(var(--padding-6) - var(--size));

  &::before {
    content: "";
    left: 0;
    width: 100%;
    position: absolute;
    height: var(--size);
    top: calc(var(--size) * -1);
    border-radius: 8px 8px 0 0;
    background-color: var(--background-primary);
  }
}

.course__schedule {
  position: absolute;
  top: 0;
  right: var(--size);
  background-color: var(--contrast);
  padding: var(--padding-3);
  border-radius: 50%;
  font-size: 1em;
  cursor: pointer;
  transition: all ease var(--delay-4);
  @include shadow--partial;

  &:focus,
  &:focus-within {
    @include focus-border-outline;
  }

  &:focus,
  &:focus-within,
  &:hover {
    transform: translateY(-4px);
  }
}

.course__title,
.course__subtitle {
  width: calc(100% - 4 * var(--padding-3));
}

.course__title {
  font-weight: var(--black);
  font-size: 1.2em;
}

.course__subtitle {
  font-weight: var(--bold);
}

.course__description {
  padding-top: var(--padding-3);
  font-size: 0.9em;
  text-align: justify;
}

.course__title + .course__description {
  padding-top: var(--padding-6);
}

.course__attribute {
  display: flex;
  font-size: 0.9em;
}

.course__attribute .icon {
  font-size: 1.4em;
  padding-right: 0.2em;
}

.course__link {
  font-size: 0.8em;
  margin-top: 0;
  margin-bottom: 0;
}

@include laptop {
  .course__wrapper {
    justify-content: center;
  }

  .course {
    margin: 0;
  }
}
