@import "constants";
@import "resets.scss";
@import "fonts.scss";
@import "colors.scss";
@import "resolutions.scss";
@import "z-index.scss";

html {
  scroll-behavior: smooth;
  scroll-padding-top: max($defaultHeight, $scrollHeight);
}

:root {
  @for $i from 0 through 10 {
    --padding-#{$i}: calc(0.15em * (#{$i} + 1));
  }

  @for $i from 0 through 20 {
    --delay-#{$i}: calc(50ms * (#{$i} + 1));
  }
}

@include large {
  .hide--large {
    opacity: 0;
  }
}
