---
import classNames from "classnames";
import type { IconFontset } from "./IconFontSet";
import type { IconName } from "./IconName";

import "./Icon.scss";

export interface Props {
  icon: IconName;
  fontset?: IconFontset;
  className?: string;
}

const { icon, fontset = "outlined", className } = Astro.props;

const iconClass = ["material-icons", fontset?.toString()].join("-");
const allClasses = classNames(iconClass, "icon", className);
---

<span class={allClasses}>{icon ?? "Help"}</span>
