---
import TopArrow from "./components/top-arrow/TopArrow.astro";
import Shell from "./Shell.astro";
---

<Shell>
  <main id="content">
    <slot />
  </main>
  <TopArrow />
</Shell>

<style>
  #content {
    display: block;
    position: relative;
    min-height: 100vh;
  }
</style>
