---
import Footer from "./components/footer/Footer.astro";
import Header from "./components/header/Header.astro";
import SkipNavigation from "./components/skip-navigation/SkipNavigation.astro";
import TopArrow from "./components/top-arrow/TopArrow.astro";
import Shell from "./Shell.astro";
---

<Shell>
  <SkipNavigation skipTarget="#content" />
  <Header />
  <main id="content">
    <slot />
  </main>
  <Footer />
  <TopArrow />
</Shell>

<style lang="scss">
  #content {
    display: block;
    position: relative;
    min-height: calc(
      100vh - min($desktopHeight, $defaultHeight, $scrollHeight)
    );
  }
</style>
