---
import Footer from "./components/footer/Footer.astro";
import Header from "./components/header/Header.astro";
import SkipNavigation from "./components/skip-navigation/SkipNavigation.astro";
import TopArrow from "./components/top-arrow/TopArrow.astro";
import Shell from "./Shell.astro";
---

<Shell>
  <SkipNavigation skipTarget="#content" />
  <Header />
  <main id="content">
    <p style="text-align: center; font-size: 20px;">
      Ce site est présentement en développement.<br/>Si par hasard vous avez obtenu ce lien, naviguer vers le vrai site: <a style="color:blue; cursor: pointer;" href="https://trampolineintercite.com">https://trampolineintercite.com</a>
    </p>
    <slot />
  </main>
  <Footer />
  <TopArrow />
</Shell>

<style lang="scss">
  #content {
    display: block;
    position: relative;
    min-height: calc(
      100vh - min($desktopHeight, $defaultHeight, $scrollHeight)
    );
  }
</style>
