---
import type { IPartner } from "@trampo/models/IPartner";
import Partner from "../partner/Partner.astro";

const partners: IPartner[] = [
  {
    img: {
      src: "https://www.v3r.net/wp-content/themes/v3r/Images/icons/logo-v3r-v2.svg",
      alt: "Ville de Trois-Rivières",
      width: 75,
      height: 83.77,
    },
    label: "Ville de Trois-Rivières",
    websiteUrl: "https://www.v3r.net/",
  },
];

// TODO: reste à obtenir les partenaires
---

{
  partners.length > 0 && (
    <>
      <section class="footer__section">
        <h3 class="footer__content">Nos partenaires</h3>
        <ul class="footer__contentlist">
          {partners.map(partner => (
            <li class="footer__partnerItem">
              <Partner
                img={partner.img}
                label={partner.label}
                websiteUrl={partner.websiteUrl}
              />
            </li>
          ))}
        </ul>
      </section>
      <hr class="footer__separator" />
    </>
  )
}
