---
import { client } from "@trampo/api/client";
import Partner from "../partner/Partner.astro";

const partners = await client.partners.getAll.query();
---

{
  partners.length > 0 && (
    <>
      <section class="footer__section">
        <h3 class="footer__content">Nos partenaires</h3>
        <ul class="footer__contentlist">
          {partners.map(partner => (
            <li class="footer__partnerItem">
              <Partner
                img={partner.img}
                label={partner.label}
                websiteUrl={partner.websiteUrl}
              />
            </li>
          ))}
        </ul>
      </section>
      <hr class="footer__separator" />
    </>
  )
}
