@mixin shadow {
  box-shadow: 0px 2px 4px var(--background-shadow);
}

@mixin shadow--partial {
  box-shadow: 0px 2px 4px var(--background-partial-shadow);
}

@mixin shadow--offsetDown {
  box-shadow: 0px 4px 4px var(--background-shadow);
}

@mixin shadow--offsetDownLight {
  box-shadow: 0px 4px 4px var(--background-shadowLight);
}
