---
import Icon from "../icon/Icon.astro";
import PageSeparator from "../page/PageSeparator.astro";
import { formatPhone } from "../utils/formatter";

import "./ContactAddress.scss";

export type Props = {
  phone: string;
  email: string;
};
const { email, phone } = Astro.props;
---

<h3 class="page__subtitle contactAddress__text">Église Ste-Cécile</h3>

<address class="contactAddress__content contactAddress__content--padding">
  <span class="contactAddress__text">550 rue des Commissaires</span>
  <span class="contactAddress__text">Trois-Rivières, Québec</span>
  <span class="contactAddress__text">G9A 0C3</span>
</address>

<a href={`tel: ${formatPhone(phone, "-")}`} class="contactAddress__link">
  <p class="contactAddress__content contactAddress__content--icon">
    <Icon icon="call" className="contactAddress__text--icon" />
    <span class="contactAddress__text">
      {formatPhone(phone, ".")}
    </span>
  </p>
</a>

<a href={`mailto: ${email}`} class="contactAddress__link">
  <p class="contactAddress__content contactAddress__content--icon">
    <Icon icon="mail" className="contactAddress__text--icon" />
    <span class="contactAddress__text">{email}</span>
  </p>
</a>

<PageSeparator className="hide--large" />

<p class="contactAddress__content">
  <span class="contactAddress__text">
    Bien noter, l&apos;entrée est située sur la rue St-Paul.
  </span>
</p>
