@import "./../../../styles/mixins/focusBorder.scss";

.partner,
.partner__link,
.partner__figure {
  height: 100%;
  display: block;
  position: relative;
}

.partner__link {
  cursor: pointer;
  @include focus;
}

.partner__figure {
  aspect-ratio: var(--aspect-ratio);
}
