@import "../../../styles/mixins/shadows.scss";

.header {
  top: 0;
  height: $defaultHeight;
  display: block;
  position: sticky;
  background-color: var(--background-primary);
  z-index: var(--navigation);
}

.header__mobile {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  @include shadow;
}

.header__link {
  display: block;
  cursor: pointer;
  font-weight: var(--bold);
  font-size: var(--text-size-8);
  padding: var(--padding-0);
}

.header__link--home {
  height: 65%;
  aspect-ratio: 1;
  padding: 0;
}

.header__navigation {
  display: block;
  overflow: hidden;
  height: fit-content;
  padding-bottom: 6px;
  pointer-events: none;
}

.header__navigationTray {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-primary);
  transform: translateY(-100%);
  transition: var(--delay-6);
  visibility: hidden;
  opacity: 0;
  @include shadow--offsetDown;
  padding-bottom: var(--padding-4);
}

.header__navigation--expanded {
  pointer-events: all;

  .header__navigationTray {
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
  }
}

@include laptop {
  .header {
    height: $desktopHeight;
    max-height: $desktopHeight;
    transition: max-height ease var(--delay-6);
  }

  .header__link--home {
    aspect-ratio: 0.8;
  }

  .header--scroll {
    max-height: $scrollHeight;

    .header__link--home {
      aspect-ratio: 1.1;
    }
  }

  .header__mobile {
    display: none;
  }

  .header__navigation {
    height: 100%;
    @include shadow--offsetDown;
    padding: 0;
    overflow: visible;
    pointer-events: all;
  }

  .header__navigationTray {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    max-width: 650px;
    flex-direction: row;
    justify-content: space-evenly;
    visibility: visible;
    box-shadow: none;
    transform: none;
    opacity: 1;
    padding: 0;
  }

  .header__link {
    display: flex;
    height: 100%;
    padding: 0;
    justify-content: center;
    flex-direction: column;
    background-color: var(--background-primary);
    transition: all ease var(--delay-4);

    &:hover,
    &:focus,
    &:focus-within {
      color: var(--text-contrast);
      background-color: var(--contrast);
    }

    &.header__link--home {
      background-color: var(--background-primary);
    }
  }

  .header__link--title {
    padding: 0 var(--padding-4);
  }
}
