:root {
  --contrast: #f71f44;
  --contrast-dark: #ca1735;
  --background-primary: #fff;
  --background-opposite: #303030;
  --background-partial-shadow: #303030c0;
  --background-shadow: #30303030;

  --text-primary: #303030;
  --text-contrast: #fff;
}
